.all_of_elements{
    text-align: center;
}

.declaration_member{
    float:left;
    width:33.3%;
    height:150px;
}

.clearfix{
    clear:left;
}
.p1{
    color:dimgray;
}




.p_designer{
    color:dimgray;
}

.p_marketer{
    color:dimgray;
}

.p_developer{
    color:dimgray;
}

.final_paragraph{
    color:dimgray;
}


